<link rel="stylesheet" href="css/style.css">

body {
    background-color: d3d3d3;
}
div {
    border: 1px solid Chocolate;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: padding 0px 15px;
}
.links {
	float: right;
}
.logo {
	margin-left: 1em;
	margin-top: 1em;
}